<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> news app </h1>
    <body>
        <!-- Popular movie section  -->
        <h3> top news</h3>
         <ul>
            {% for article in articles %}
                <h4>{{article.title}}</h4>
                <h6>{{article.description}}</h6>
                <img src="{{article.urlToImage}}" alt="">
                <div><a  href="">{{article.url}}></a</div>
                <h6>{{article.author}}</h6>
                <h6>{{article.id}}</h6>
                <h6>{{article.name}}</h6>
            {% endfor %}
        </ul>
 </body>
</body>
</html>